#demo {
  position: relative;
  width: 480px;
  height: 640px;
}

#demo-video {
  position: absolute;
  z-index:1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}	
#demo div{
  position:absolute;
  z-index:2;
}
#show-out{
    border: 1px solid #444444;
    width: 300px;
    margin: auto;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
	font-size:20px;
}

@media all and (orientation:portrait) {
  #demo-video{
    object-fit: fill;
  }
}
/* Horizaontal */
@media all and (orientation:landscape) {
  #demo-video{
    object-fit: fill;
  }
}

@media only screen and (min-width: 0px) and (max-width: 640px){
  #demo{
	width: 100vw;
    height: 90vh;
  }
  #demo-video{
    width: 100%;
    height: 100%;
  }
  #changemode{
  position:absolute;
  left:0;
  top:0;
  width:80px;
  height:80px;
  z-index:2;
}
#changecamera{
  position:absolute;
  right:0;
  top:0;
  width:80px;
  height:80px;
  z-index:2;
}
#changesound{
  position:absolute;
  right:0;
  top:75%;	
  width:80px;
  height:80px;
  z-index:2;
}
#changetext{
  position:absolute;
  right:0;
  top:88%;	
  width:80px;
  height:80px;
  z-index:2;
}

#download{
  position:absolute;
  right:0;
  top:62%;	
  width:80px;
  height:80px;
  z-index:2;
}

#show-out{
    border: 1px solid #444444;
    width: 300px;
    margin: auto;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -150px;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
	font-size:20px;
}
}
@media only screen and (min-width: 641px) and (max-width: 1439px) {
   #demo{
    width: 90vw;
    height: 90vh;
	margin: 0px auto;
  }
  #demo-video{
    width: 100%;
    height: 100%;
  }
   #changemode{
  position:absolute;
  left:0;
  top:0;
  width:100px;
  height:100px;
  z-index:2;
}
#changecamera{
  position:absolute;
  right:0;
  top:0;
  width:100px;
  height:100px;
  z-index:2;
}
#changesound{
  position:absolute;
  right:0;
  top:70%;	
  width:100px;
  height:100px;
  z-index:2;
}
#changetext{
  position:absolute;
  right:0;
  top:85%;	
  width:100px;
  height:100px;
  z-index:2;
}

#download{
  position:absolute;
  right:0;
  top:55%;	
  width:100px;
  height:100px;
  z-index:2;
}

#show-out{
    border: 1px solid #444444;
    width: 300px;
    margin: auto;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -150px;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
	font-size:20px;
}
}

@media only screen and (min-width: 1440px) {
  #demo{
    width: 45vw;
    height: 80vh;
	margin:150px auto;
  }
  #demo-video{
    width: 100%;
    height: 100%;
  }
 #changemode{
  position:absolute;
  left:0;
  width:80px;
  height:80px;
  z-index:2;
}

#changecamera{
  position:absolute;
  right:0;	;
  width:80px;
  height:80px;
  z-index:2;
}

#changesound{
  position:absolute;
  right:0;
  top:25vw;
  width:80px;
  height:80px;
  z-index:2;
}
#changetext{
  position:absolute;
  right:0vw;
  top:32vw;
  width:80px;
  height:80px;
  z-index:2;
}

#download{
  position:absolute;
  right:0vw;
  top:18vw;
  width:80px;
  height:80px;
  z-index:1;
}


}